* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  width: 60%;
  border-radius: 8px;
}
.App {
  text-align: center;
}
.detail {
  margin: 0px;
  font-size: 30px;
  background-color: #81bda4;
  border-radius: 8px;
  color: white;
}
.cssSelect {
  margin-left: 50px !important ;
}
.container-footer {
  margin-left: 580px;
  padding-bottom: 20px;
}
detail-container {
  background-color: #81bda4;
}
.imgDetail {
  padding-top: 100px;
  width: 700px;
  max-height: 70vh;
}
.titleDetail {
  margin-top: 20px;
  font-weight: 800;
}
.yearDetail {
  font-size: 30px;
  margin-top: 0px;
}
.nationDetail {
  font-size: 20px;
}
.infoDetail {
  font-size: 20px;
  max-width: 80%;
  padding-left: 300px;
  padding-bottom: 100px;
}
.cssList {
  background-color: #fff;
  margin-top: 0px;
}
.cssContact {
  width: 500% !important;
}
.iconCloud {
  transform: translateX(-50px);
  color: red;
  font-size: 50px !important;
}
.list {
  margin: 30px;
  color: red;
  font-size: 50px;
  padding: 20px 0 20px 20px;
}
.page-footer .footer-copyright {
  background-color: red;
}
.con {
  font-size: small;
}
.contact {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.info {
  width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.column {
  margin-bottom: 10px;
}
.cssDetail {
  width: 100%;
}

.phone {
  font-size: 200px;
  margin: 200px 100px;
}
.facebook {
  font-size: 200px;
  margin: 200px 100px;
}
.mail {
  font-size: 200px;
  margin: 200px 100px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container-Header {
  display: flex;
  margin-left: 50px;
}
.header {
  margin: 10px 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.cssAbout {
  height: 40vh;
  margin-top: 0px;
}

.container .column {
  width: 33%;
}
.container .card {
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px #282c34;
  border: 3px solid orange;
}
.container img {
  border-radius: 8px;
  width: 350px;
  height: 450px;
  width: 100%;
}

.container .card h3 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.container .card .year {
  font-size: 25px;
  color: orange;
  font-weight: bold;
}
.footer {
  min-width: 100%;
  background-color: red;
  margin-top: 20px;
}

.container .card .nation {
  font-size: 23px;
  margin-top: 0px;
  font-weight: bold;
  text-transform: capitalize;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img {
  width: 100%;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: auto;
  background: #eaeaea;
  font-family: "Open Sans", sans-serif;
}

.info p {
  text-align: center;
  color: #999;
  text-transform: none;
  font-weight: 600;
  font-size: 15px;
  margin-top: 2px;
}

.info i {
  color: #f6aa93;
}
form h1 {
  font-size: 18px;
  background: #f6aa93 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align: left;
}

form {
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin: 5% auto;
  background-color: #ffffff;
  overflow: hidden;
}

p span {
  color: #f00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color: #333;
}

h1 {
  text-align: center;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  margin: 50px 0px 0px 0px;
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration: inherit;
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background: #eeeeee;
  height: 42px;
  position: relative;
  text-align: center;
  line-height: 40px;
}

i {
  color: #555;
}

.contentform {
  padding: 40px 30px;
}

.bouton-contact {
  background-color: #81bda4;
  color: #fff;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.leftcontact {
  width: 49.5%;
  float: left;
  border-right: 1px dotted #ccc;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width: 49.5%;
  float: right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display: none;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 13px;
  color: #de5959;
}

#sendmessage {
  border: 1px solid #fff;
  display: none;
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: #ebf6e0;
  color: #5f9025;
  border: 1px solid #b3dc82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,
.show {
  display: block;
}

.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vmax;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

nav .nav-wrapper {
  background-color: #06d85f;
  display: flex;
  justify-content: space-between;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: white;
}
.page-footer {
  background-color: #282c34;
}
pop-up {
  height: 80vh;
}
